<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ctrl + space class 자동 완성 -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destoryMethod" lazy-init="true"/> -->
	
	<!-- scope default가 singleton임. scope입력 안하면 singleton prototype은 객체를 여러개 만듬. -->
	<bean id="tv" class="polymorphism.SamsungTV" scope="singleton" >
		<constructor-arg ref="sony"></constructor-arg>
	</bean> 
	
	<bean id="sony" class="polymorphism.SonySpeaker">
	</bean>

</beans>
